<a class="btn btn-default" role="button" ><span class="glyphicon glyphicon-plus"> </span> Add</a>
<a class="btn btn-default" role="button" ><span class="glyphicon glyphicon-edit"></span> Edit</a>
<a class="btn btn-default" role="button" ><span class="glyphicon glyphicon-ok"></span> Ok</a>
<a class="btn btn-default" role="button" href="/projects(navbar:projectsnavbar)"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-default" role="button" ><span class="glyphicon glyphicon-trash"></span></a>


